
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<div layout:fragment="content" class="container px-6 mx-auto grid">
<div class="w-full flex">
    <form method="Post" style="width: 30%;" class="w-auto rounded-lg px-4 py-3 mt-4 text-gray-500 border bg-white dark:border-gray-700 dark:text-gray-400 dark:bg-gray-900">
      <div  class="inline-flex mt-1 mb-2 w-full justify-center">
        <div style="width: 80%;" class="text-base px-4 py-3 border border-gray-300 rounded-md dark:bg-zinc-600">
          <label for="select-etudiant-classe" class="block mb-2 font-medium text-gray-900 dark:text-white">Classe</label>
          <select id="select-etudiant-classe" style="width:80%;" class="bg-gray-50 dark:bg-white border border-gray-300 text-gray-900 rounded focus:ring-blue-500 focus:border-blue-500 block p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option th:data="@{/ac/etudiant}" value=''  >All</option>
              <option th:data="@{/ac/etudiant(classe=${cl.id})}" th:each="cl:${classes}" th:value="${cl.id}" th:text="${cl.libelle}" th:selected="${cl.id==classe}"></option>

          </select>
        </div>
      </div>
    </form>
</div>
  <h4 class="mb-4 mt-4 text-lg font-semibold text-gray-600 dark:text-white">
    Liste des Etudiants de <span th:text="${anneeScolaire}"></span>
  </h4>

  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr
            class="text-sm font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-900"
            style="color:#eb1616;"
          >
            <th class="px-4 py-3">N°</th>
            <th class="px-4 py-3">Matricule</th>
            <th class="px-4 py-3">Nom et Prénoms</th>
            <th class="px-4 py-3">Email</th>
            <th class="px-4 py-3">Tuteur</th>
            <th class="px-4 py-3">Classe</th>
            <th class="px-4 py-3">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-900">
          <tr class="text-gray-700 dark:text-gray-400" th:each="etu:${etudiants}">
            <td class="px-4 py-3 text-sm" th:text="${etu.id}"></td>
            <td class="px-4 py-3 text-sm" th:text="${etu.matricule}"></td>
            <td class="px-4 py-3 text-sm" th:text="${etu.nomComplet}"></td>
            <td class="px-4 py-3 text-sm" th:text="${etu.email}"></td>
            <td class="px-4 py-3 text-sm" th:text="${etu.tuteur}"></td>
            <td class="px-4 py-3 text-sm" th:text="${etu.classe}"></td>
            <td class="px-4 py-3">
              <div class="flex items-center space-x-4 text-sm">
                <a th:href="@{/ac/etudiant(etudiant=${etu.id},show='absence')}" class="bg-cyan-500 text-white hover:bg-cyan-700 border rounded-md border-cyan-500 ">
                <button
                  class=" flex items-center px-2 py-2 text-sm font-medium leading-5"
                  aria-label="Delete"
                >
                  <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>Absences
                </button>
                </a>
                <a th:href="@{/ac/etudiant(etudiant=${etu.id},show='dossier')}" class="dark:text-white text-gray-700 border rounded-md  hover:bg-gray-300 hover:text-black">
                  <button
                  class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 rounded-lg focus:outline-none focus:shadow-outline-gray"
                  aria-label="Edit"
                  >
                  <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z"
                    ></path>
                  </svg>Dossier
                </button>
                </a>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="navigation" th:include="pagination.html">

    </div>
  </div>

  <script>
    const select_classe =document.querySelector("#select-etudiant-classe");
    getData(select_classe)
  </script>

    <div id="etudiant-absences" class="hidden" th:if="${htmlAbsence != null}">
      <th:block th:utext="${htmlAbsence}"/>
    </div>

    <div id="etudiant-dossier" class=" hidden" th:if="${htmlDossier != null}">
      <th:block th:utext="${htmlDossier}"/>
    </div>

    <script>
      const etudiant_classe =document.querySelector('#select-etudiant-classe');
      getData(etudiant_classe);
    </script>

      <script th:if="${htmlAbsence != null}">
        const absences = document.querySelector('#etudiant-absences');
        absences.classList.toggle("hidden");
        Swal.fire({
          width:900,
          html: absences,
          confirmButtonText:"Fermer",
          confirmButtonColor:'#f87171',
          showConfirmButton: true
        });
      </script>

      <script th:if="${htmlDossier != null}">
        const dossier = document.querySelector('#etudiant-dossier');
        dossier.classList.toggle("hidden");
        Swal.fire({
          width:900,
          html: dossier,
          confirmButtonText:"Fermer",
          confirmButtonColor:'#f87171',
          showConfirmButton: true
        });
      </script>


  </div>
</html>
