<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<div layout:fragment="content" class="container px-6 mx-auto grid">
  <div class="w-full flex">
    <form style="width: 50%;" class="w-auto rounded-lg px-4 py-3 mt-4 text-gray-500 border bg-white dark:border-gray-700 dark:text-gray-400 dark:bg-gray-900">
      <div  class="inline-flex mt-1 mb-2 w-full justify-center">
        <div style="width: 38%; margin-right:80px;" class="text-base px-4 py-3 border border-gray-300 rounded-md dark:bg-zinc-600">
          <label for="portable" class="block mb-2 font-medium text-gray-900 dark:text-white">Téléphone</label>
          <input id="portable" type="text" th:value="${portable}" style="width:80%;" class="bg-gray-50 dark:bg-white border border-gray-300 text-gray-900 rounded focus:ring-blue-500 focus:border-blue-500 block p-2  dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <div style="width: 38%;" class="text-base px-4 py-3 border border-gray-300 rounded-md dark:bg-zinc-600">
          <label for="select-professeur-grade" class="block mb-2 font-medium text-gray-900 dark:text-white">Grade</label>
          <select id="select-professeur-grade" style="width:80%;" class="bg-gray-50 dark:bg-white border border-gray-300 text-gray-900 rounded focus:ring-blue-500 focus:border-blue-500 block p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option th:data="@{/ac/professeur}" value="">All</option>
            <option th:each="grad:${grades}" th:selected="${grade==grad}" th:text="${grad}" th:value="${grad}"
                    th:data="@{/ac/professeur(grade=${grad})}"></option>
          </select>
        </div>

      </div>
    </form>

  </div>
  <h4 class="mb-4 mt-4 text-lg font-semibold text-gray-600 dark:text-white">
    Liste des Professeurs de <span th:text="${anneeScolaire}"></span>
  </h4>

  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr class="text-sm  font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-900" style="color:#eb1616;">
            <th class="px-4 py-3">N°</th>
            <th class="px-4 py-3">Nom et Prénoms</th>
            <th class="px-4 py-3">Email</th>
            <th class="px-4 py-3">Portable</th>
            <th class="px-4 py-3">Grade</th>
            <th class="px-4 py-3">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-900">
        <tr class="text-gray-700 dark:text-gray-400" th:each="prof:${professeurs}">
          <td class="px-4 py-3 text-sm" th:text="${prof.id}"></td>
          <td class="px-4 py-3 text-sm" th:text="${prof.nomComplet}"></td>
          <td class="px-4 py-3 text-sm" th:text="${prof.email}"></td>
          <td class="px-4 py-3 text-sm" th:text="${prof.portable}"></td>
          <td class="px-4 py-3 text-sm" th:text="${prof.grade}"></td>
          <td class="px-4 py-3">
            <div class="flex items-center space-x-4 text-sm">
              <a th:href="@{/ac/professeur(professeur=${prof.id})}"  class="bg-cyan-500 text-white hover:bg-cyan-700 border rounded-md border-cyan-500">
                <button
                        class="btn-details flex items-center justify-between px-2 py-2 text-sm font-medium leading-5"
                        aria-label="Delete"
                >
                  <svg
                          class="w-5 h-5"
                          aria-hidden="true"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                  >
                    <path
                            fill-rule="evenodd"
                            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                            clip-rule="evenodd"
                    ></path>
                  </svg>Details
                </button>
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="navigation" th:include="pagination.html">

    </div>
  </div>

  <div th:if="${htmlValueClasse != null}"
       id="profdetailsmodule"
       class="hidden w-full px-6 py-4 overflow-y-auto bg-white rounded-t-lg dark:bg-gray-900 sm:rounded-lg sm:m-4 sm:max-w-xl"
  >
    <th:block th:utext="${htmlValueModule}"/>
  </div>

  <div th:if="${htmlValueClasse != null}"
       id="profdetailsclasse" class=" w-full px-6 py-4 overflow-y-auto bg-white rounded-t-lg dark:bg-gray-900 sm:rounded-lg sm:m-4 sm:max-w-xl"
  >
    <th:block th:utext="${htmlValueClasse}"/>
  </div>

  <script>
    const prof_grade =document.querySelector('#select-professeur-grade');
    getData(prof_grade);

    const prof_portable =document.querySelector('#portable');
    prof_portable.addEventListener('keyup',_=>{
      if (prof_portable.value.length===9){
        const path = "/ac/professeur?portable="+prof_portable.value;
        redirectToPath(path);
      }else if (prof_portable.value.length===0){
        const path = "/ac/professeur"
        redirectToPath(path);
      }
    });
  </script>


  <script th:if="${htmlValueClasse != null}">
    const detailsModules = document.querySelector('#profdetailsmodule');
    const detailsClasses = document.querySelector('#profdetailsclasse');
    Swal.fire({
      width:700,
      html: detailsClasses,
      confirmButtonText:"Modules",
      confirmButtonColor:'#22d3ee',
      showConfirmButton: true,
      denyButtonText:"Fermer",denyButtonColor:'#f87171',showDenyButton: true
    }).then((result) => {
      if (result.isConfirmed) {
        detailsModules.classList.toggle('hidden');
        Swal.fire({width:700,html: detailsModules,confirmButtonText:"Fermer",confirmButtonColor:'#f87171',showConfirmButton: true});
      }
    });
  </script>

</div>
</html>
